/******* BASIC STYLES *******/

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
	/*background-color: #FFF;*/
	font-size: 1.2em;
	color: #001f3f;
	display: flex;
	justify-content: center;
	text-shadow: 2px 2px 4px lightblue;

}

ul {
	list-style-type: none;
}

button {
  width: 90px;
  height: 30px;
  font-size: 0.8em;
	color: #FFF;
	cursor: pointer;
	margin: 5px;
	margin-top: 10px;
	margin-bottom: 10px;
	border: 1px solid #DDD;
	border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

input,
textarea {
	border-radius: 3px;
	border: 1px solid #CCC;
	padding: 3px;
	font-size: 0.8em;

}

p {
	font-size: 0.9em;
}

hr {
	margin: 0 10px;
}



a {
  text-decoration: none;
  color: #001f3f;
}

/******* MAIN STYLES *******/

.m-font {
	font-size: 1.2em;
	margin-top: 5px;
	margin-bottom: 5px;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.IndexView {
  border-radius: 7px;
  min-width: 600px;
  width: 100%;
  border: 1px solid #E3E3E3;
	background-color:#e6f5ff;
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.IndexView ul {
	padding: 0;
}

.todo-listing {
	color: #3C763D;
	background-color: #ffffcc;
	border: 1px solid #e0ebeb;
	border-radius: 5px;
	margin: 10px;
	padding: 5px;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.todo-listing .detail-toggle {
	position:relative; 
  cursor:pointer;
  user-select: none;
}

.todo-details {
	animation-duration: 0.5s;
	animation-name: zoominandout;
	animation-direction: alternate;

  width: 90%;
	color: #000;
  background-color: #fff;
	border-radius: 5px;
	margin: 3px auto;
	padding: 10px 0;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


@keyframes zoominandout {
	from {
		/*display: none;*/
		/*height: 0;*/
	}

	to {
		/*height: 500px;*/
		/*display: block;*/
	}
}
.done-toggle{
	text-decoration:line-through;
}

.todo-details h3 {
  padding-top: 2%;
  margin: 3px;
}

.todo-details ul {
	width: 75%;
	margin: 10px auto;
  background-color: #e6fff7;
	border: 1px solid #DDD;
	border-radius: 7px;
}

.todo-details ul li {
	
	margin: 0 auto;
	padding: 0px;
	border-bottom: 1px solid #DDD;
	
}

.todo-details ul li:last-child {
	border-bottom: none;
}

.details-footer {
	margin: 10px 0;
}

.delete-btn {
	background-color: #D9534F;
	border-color: #D43F3A;
}

.delete-btn:active,
.delete-btn:hover {
	background-color: #C9302C;
}

.edit-btn {
	color: #000;
	background-color: #FFF;
	border-color: #CCC;
}

.edit-btn:active,
.edit-btn:hover {
	background-color: #E6E6E6;
}

#new-container {
  display: flex;
  justify-content: center;
  align-items: center;
  	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.new-todo-form {
	animation-duration: 0.5s;
  animation-name: zoomin;

  position: absolute;
  margin-top: 250px;
  padding: 0 15px;
	min-width: 340px;
	text-align: left;
  background-color: $gray;
  z-index: 3;
	border: 1px solid #616161;
	border-radius: 7px;
	background-color: #FFF;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@keyframes zoomin {
	from {
		margin-top: 0px;
	}

	to {
		margin-top: 250px;
	}
}

.new-todo-form input {
	width: 90%;
}

.new-todo-form textarea {
	width: 90%;
}

.new-todo-header {
  display: flex;
	flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.new-todo-header p {
	margin-left: 7px;
	margin-right: 7px;
}

.new-todo-body {
	display: flex;
	flex-direction: column;
	/*justify-content: center;*/
	/*align-items: center;*/
}

.close-form {
  cursor: pointer;
}

.close-icon {
	cursor: pointer;
}

.AddTodo {
  border: none;
  border-radius: 15px;
  margin: 15px;
  width: 160px;
  height: 40px;
  font-size: 1.1em;
  
	color: #FFF;
	background-color: #337AB7;
  cursor: pointer;
	border: 1px solid #2e6da4;
}

.AddTodo ul {

	list-style-type: none;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: left;
}

.AddTodo ul li {
		margin: 10px 0;
}

.AddTodo:hover {
	background-color: #001f3f;
}

.new-todo-footer {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}

.add-todo-button {
	background-color: #337AB7;
	width: 120px;
}

.add-todo-button:hover {
	background-color: #001f3f;
}

.close-form-button {
	color: #000;
}
